body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
